#banner {
  background: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
}

.banner {
  color: #fff;
}
