body {
  font-family: 'PT Sans', sans-serif;
}

.table {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-collapse: collapse;
}

.table th {
  text-align: left;
  padding: 20px;
  background: #3A3A3A;
  color: #fff;
  text-transform: capitalize;
}